// example of a component based SASS definition through use of :local

:local {
  .navbar {
    background-color: rgba(0,0,0, .5);
    padding: 1em 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-left: 1em;
        display: inline-block;
        a {
          color: white;
        }
      }
    }
  }
}